<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f2d6539-8a56-4616-abb0-e679ca34a05a" Alias="newsletterList" Level="2">
  <Info>
    <Name>#Newsletter_List</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>News+Letter</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9d1d19ba-a320-4e9b-94d6-ed8e675dbf3f" SortOrder="0">newsletterMail</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>