<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Reset Password Request</h1>
    <p>
        Hi, here’s how to reset your password.
        We have received a request to have your password reset.
        Please, click the Link below to change your password
    </p>    
    <p>
        مرحبًا، إليك كيفية إعادة تعيين كلمة المرور الخاصة بك.
        لقد تلقينا طلبًا لإعادة تعيين كلمة المرور الخاصة بك.
        من فضلك، انقر فوق الرابط أدناه لتغيير كلمة المرور الخاصة بك

    </p>
    <p>Thank you for being with us!</p>
</body>
</html>