<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ce04890-f2f7-4746-8488-6d5ebe1c9724" Alias="Email" Level="102">
  <Info>
    <Parent Key="953f7814-4cd9-436b-9118-9d4afee58e4b">Newsletter</Parent>
    <Path>/[-20]/Newsletter/Email</Path>
    <Trashed Parent="953f7814-4cd9-436b-9118-9d4afee58e4b">true</Trashed>
    <ContentType>newsletterMail</ContentType>
    <CreateDate>2024-09-30T13:37:38</CreateDate>
    <NodeName Default="Email">
      <Name Culture="en-us">Email</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminResponse>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </adminResponse>
    <attachments>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </attachments>
    <fileName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </fileName>
    <mailDate>
      <Value><![CDATA[2024-09-30T00:00:00]]></Value>
    </mailDate>
  </Properties>
</Content>