<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f3076f5-52e3-4091-b8b2-4e785fb1d401" Alias="First Email" Level="2">
  <Info>
    <Parent Key="f52e8caa-0cae-4c7a-8c12-9acc7f73c295">News Letter Emails</Parent>
    <Path>/NewsLetterEmails/FirstEmail</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterMail</ContentType>
    <CreateDate>2024-10-09T13:35:31</CreateDate>
    <NodeName Default="First Email">
      <Name Culture="en-us">First Email</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminResponse>
      <Value Culture="en-us"><![CDATA[Hello Everyone]]></Value>
    </adminResponse>
    <attachments>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </attachments>
    <fileName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </fileName>
    <mailDate>
      <Value><![CDATA[]]></Value>
    </mailDate>
  </Properties>
</Content>