<?xml version="1.0" encoding="utf-8"?>
<Content Key="f52e8caa-0cae-4c7a-8c12-9acc7f73c295" Alias="News Letter Emails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewsLetterEmails</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterList</ContentType>
    <CreateDate>2024-10-09T13:34:12</CreateDate>
    <NodeName Default="News Letter Emails">
      <Name Culture="en-us">News Letter Emails</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>