<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8cb8cb2-c9d3-476d-9b59-64b9c39988ce" Alias="News Letter Emails (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/NewsLetterEmails1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>newsletterList</ContentType>
    <CreateDate>2024-10-09T13:34:13</CreateDate>
    <NodeName Default="News Letter Emails (1)">
      <Name Culture="en-us">News Letter Emails (1)</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>