<?xml version="1.0" encoding="utf-8"?>
<Content Key="90eb350b-4cc8-4498-b0dc-f7ee8c80f11f" Alias="Second Email" Level="2">
  <Info>
    <Parent Key="f52e8caa-0cae-4c7a-8c12-9acc7f73c295">News Letter Emails</Parent>
    <Path>/NewsLetterEmails/SecondEmail</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterMail</ContentType>
    <CreateDate>2024-10-09T15:58:32</CreateDate>
    <NodeName Default="Second Email">
      <Name Culture="en-us">Second Email</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminResponse>
      <Value Culture="en-us"><![CDATA[This is the second news letter email]]></Value>
    </adminResponse>
    <attachments>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </attachments>
    <fileName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </fileName>
    <mailDate>
      <Value><![CDATA[]]></Value>
    </mailDate>
  </Properties>
</Content>