<?xml version="1.0" encoding="utf-8"?>
<Content Key="52dac6f1-fa30-4afe-9783-9a02152a4849" Alias="Third Email" Level="2">
  <Info>
    <Parent Key="f52e8caa-0cae-4c7a-8c12-9acc7f73c295">News Letter Emails</Parent>
    <Path>/NewsLetterEmails/ThirdEmail</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterMail</ContentType>
    <CreateDate>2024-10-09T16:11:18</CreateDate>
    <NodeName Default="Third Email">
      <Name Culture="en-us">Third Email</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminResponse>
      <Value Culture="en-us"><![CDATA[This is the third news letter email]]></Value>
    </adminResponse>
    <attachments>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </attachments>
    <fileName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </fileName>
    <mailDate>
      <Value><![CDATA[]]></Value>
    </mailDate>
  </Properties>
</Content>