<?xml version="1.0" encoding="utf-8"?>
<MemberType Key="98fd4e68-e84e-470e-94f1-224169d80e31" Alias="newsletterMOHP" Level="1">
  <Info>
    <Name>#Newsletter_MOHP</Name>
    <Icon>icon-user</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>3f9d5aa1-5ade-4f06-bed7-e1f6be4a06f0</Key>
      <Name>#Newsletter_SubscriptionDate</Name>
      <Alias>subscriptionDate</Alias>
      <Definition>0e9794eb-f9b5-4f20-a788-93acd233a7e4</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="newsletterSubscriberInformation">#Newsletter_SubscriberInformation</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f8d10a24-f5f0-445e-ae66-fdd6f6e9f7c3</Key>
      <Name>#Newsletter_UnsubscribeToken</Name>
      <Alias>unsubscribeToken</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="newsletterSubscriberInformation">#Newsletter_SubscriberInformation</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>c863ea70-5a4c-4968-9c0e-25cf9fb67557</Key>
      <Caption>#Newsletter_SubscriberInformation</Caption>
      <Alias>newsletterSubscriberInformation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MemberType>