<?xml version="1.0" encoding="utf-8"?>
<MemberType Key="561c8944-6f11-4d72-91a3-bc87c3e6141b" Alias="newsletterSubscriber" Level="1">
  <Info>
    <Name>#Newsletter_Subscriber</Name>
    <Icon>icon-user</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>66d534a6-cb7e-4ea3-8e21-0891069e5ae9</Key>
      <Name>#Newsletter_SubscriptionDate</Name>
      <Alias>subscriptionDate</Alias>
      <Definition>0e9794eb-f9b5-4f20-a788-93acd233a7e4</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="newsletterSubscriberInformation">#Newsletter_SubscriberInformation</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b2bae1d3-9234-493b-b28f-f4d1c8b7e1d3</Key>
      <Name>#Newsletter_UnsubscribeToken</Name>
      <Alias>unsubscribeToken</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="newsletterSubscriberInformation">#Newsletter_SubscriberInformation</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>8e633d67-074b-43c9-a370-7b6ada2ab8ad</Key>
      <Caption>#Newsletter_SubscriberInformation</Caption>
      <Alias>newsletterSubscriberInformation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MemberType>