<?xml version="1.0" encoding="utf-8"?>
<MemberType Key="5a90efc9-5bf9-4d14-a09c-3e53d0ef00e9" Alias="newsletterCitizen" Level="1">
  <Info>
    <Name>#Newsletter_Citizen</Name>
    <Icon>icon-user</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>877ad5ce-1a68-44c1-b553-0c3364041825</Key>
      <Name>#Newsletter_SubscriptionDate</Name>
      <Alias>subscriptionDate</Alias>
      <Definition>0e9794eb-f9b5-4f20-a788-93acd233a7e4</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="newsletterSubscriberInformation">#Newsletter_SubscriberInformation</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>027e4f95-c8b2-441d-9c1e-cb09769ee444</Key>
      <Name>#Newsletter_UnsubscribeToken</Name>
      <Alias>unsubscribeToken</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="newsletterSubscriberInformation">#Newsletter_SubscriberInformation</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>ab4df8b1-cb60-4580-b8a1-945424fb9dc2</Key>
      <Caption>#Newsletter_SubscriberInformation</Caption>
      <Alias>newsletterSubscriberInformation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MemberType>